@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap");

body, html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius: 5px;
}  

nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: 900;
    border: solid rgba(0, 0, 0, 0);
    border-width: 2px;
    border-radius: 15% 50% 50% 50%;
    transition: 0.3s ease-out;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 30%;
}

footer {
    text-align: center;
    height: 100%;
    width: 100%;
}

#canvas {
    background: no-repeat url("../images/canvas.jpg");
    background-size: cover;
    background-color: black;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    right: 5%;
    -webkit-mask-image: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

footer > #canvas  {
    -webkit-mask-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
  }

li:hover {
    border-color: black;
    background-color: rgb(221, 57, 57);
}

#h1_left {
    display: inline-block;
    width: 45%;
    text-align: left;
}
  
#h1_right {
    display: inline-block;
    width: 45%;
    text-align: right;
}

#nav_wrap {
    display: inline-block;
    text-align: left;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius: 0 0 45% 45%;
    width: 360px;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgb(221, 57, 57)
    );
}

#banner_left {
    -webkit-mask-image: -webkit-linear-gradient(
      right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}
  
#banner_right {
    -webkit-mask-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}