@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap");

body, html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 30px;
    padding: 16px 0 16px 0;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius:  0 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #acaeca;
}

h2{
    text-align: center;
    margin-top: 3em;
    text-decoration: underline;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline;
    font-size: 25px;
    font-weight: 900;
    color: #9338ff;
}

header {
    width: 100%;
    text-align: center;
}  

nav {
    width: 100%;
    text-align: left;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    width: 65px;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: 900;
    border: solid rgba(0, 0, 0, 0);
    border-width: 2px;
    border-radius: 15% 50% 50% 50%;
    transition: 0.3s ease-out;
}

a {
    color: black;
    text-decoration: none;
}

button {
    float: right;
}

footer {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    background: no-repeat center center url("../images/canvas.jpg");
    background-size: cover;
    -webkit-mask-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

li:hover {
    border-color: black;
    background-color: #acaeca;
}

.attribute_pair {
    text-align: left;
}

.attribute_icons {
    display: inline;
    width: 25px;
    position: relative;
    top: 3px;

}

.positive_attribute {
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: justify;
}

.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    height: 50px;
    width: 45%;
    color: #3773eb00;
    position: relative;
    top: 20%;
    margin-left: 15px;
}

.down_arrow {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    padding-left: 30px;
    top: 60%;
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 70px;
    }
}

.logo {
    margin: auto 0;
    position: relative;
    bottom: 23%;
    left: 2%;
    vertical-align: middle;
    float: left;
    width: 80px;
   
}

#accessibility_icon {
    width: 29px;
    height: 29px;
    position: absolute;
    right: 60px;
    margin: 0 11px 7px 0;
}

#msg_container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url('../images/starheadwoman.jpg') no-repeat center center;
    background-size: cover;
    font-size: 35px;
    margin-top: 67px;
}

#welcome_msg_1 {
    animation: fadeOut 16s infinite ease-in-out;
}

#welcome_msg_2 {
    animation: fadeInOut1 16s infinite ease-in-out;
}

#welcome_msg_3 {
    animation: fadeInOut2 16s infinite ease-in-out;
}

@keyframes fadeOut {
    0% {
        color: #3773eb00;
    }
    25% {
        color: #3773eb;
    }
    50% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut1{
    0%,25% {
        color: #3773eb00;
    }
    50% {
        color: #3773eb;
    }
    75% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut2{
    0%,25%,50% {
        color: #3773eb00;
    }
    75% {
        color: #3773eb;
    }
    100% {
        color: #3773eb00;
    }
}

#language_button {
    background: grey url(../images/braziltumbnail20x40.png) no-repeat center center;
    background-size: contain;
    opacity: 1;
    height: 24px;
    width: 35px;
    border: solid black 1px;
    position: absolute;
    right: 30px;
    bottom: 30%;
}

#language_button:hover {
    opacity: 0.5;
}

#header_and_nav {
    position: sticky;
    top: 67px;
    width: 100%;
    z-index: 100;
}

#positive_attributes {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#h1_left {
    display: inline-block;
    margin: auto 0 auto 90px;
    float: left;
    vertical-align: middle;
}
  
#h1_right {
    display: inline-block;
    float: right;
    margin: auto 130px auto 20px;
    vertical-align: middle;
}

#nav_wrap {
    display: inline-block;
    text-align: left;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius: 0 0 45% 45%;
    width: 360px;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      #acaeca
    );
}

#banner_left {
    -webkit-mask-image: -webkit-linear-gradient(
      right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}
  
#banner_right {
    -webkit-mask-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

#banner_center {
    padding: 5em 3em 5em 3em;
    height: 280px;
    width: 300px;
    display: inline-block;
}

div > img {
    width: 100%;
}

@media only screen and (max-width: 986px) {
    
    .welcome_msg {
        font-size: 25px;
    }
}

@media only screen and (max-width: 935px) {
    #h1_left, #h1_right {
        font-size: 20px;
    }
}

@media only screen and (max-width: 890px) {
    #positive_attributes {
        display: inline-block;
    }
    #banner_center {
        padding: 4em 0 4em 0;
        height: 280px;
        width: 300px;
        display: inline-block;
    }
    .attribute_pair {
        text-align: center;
    }
    .positive_attribute {
        text-align: center;
    }
    #h1_left, #h1_right {
        display: none;
    }
    
}

@media only screen and (max-width: 660px) {
    nav {
        text-align: center;
    }
    #nav_wrap {
        width: 100%;
    }
    .welcome_msg {
        font-size: 17px;
    }
    #msg_container {
        height: 40%;
    }
    .down_arrow {
        top: -80%;
    }
    a > img {
        width: 49px;
    }
    .down_arrow {
        display: none;
    } 
}

@media only screen and (max-width: 380px) {
    .welcome_msg {
        font-size: 16px;
    } 
}


@media only screen and (max-width: 360px) {
    .welcome_message {
        top: 100%;
    }
}  

@media (max-height: 810px) and (orientation: landscape){
    
    .down_arrow {
        top: 55%;
    }    
}

@media (max-height: 706px) and (orientation: landscape){
    
    .down_arrow {
        top: 40%;
    }    
}

@media (max-height: 465px) and (orientation: landscape){
    .down_arrow {
        top: 17%;
    }
}

@media(max-height: 395px)  and (orientation: landscape){
    .down_arrow {
        top: 10%;
    }    
}

@media(max-height: 360px)  and (orientation: landscape){
    .down_arrow {
        top: 5%;
    }    
}

@media(max-width: 1080px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 27px;
    }  
}

@media(max-width: 812px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 25px;
    }  
}

@media(max-width: 667px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 21px;
    }  
}