@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Karla&family=Raleway&family=Roboto:wght@300&display=swap');

html {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    font-family: raleway, sans-serif;
    margin: 0;
}


h2 {
    text-align: center;
    margin-bottom: 10px;
}

.section_main_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_left {
    height: 180px;
    width: 400px;
    position: relative;
    top: 30px;
}

.icon_attributes {
    position: absolute;
    top: 0;
    visibility: hidden;
}

/*WELCOME MESSAGE AND HERO IMAGE****************/
.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: raleway, sans-serif;
    font-size: 40px;
    height: 50px;
    width: 45%;
    color: #3773eb00;
    position: relative;
    top: 20%;
    margin-left: 15px;
}

.down_arrow {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    padding-left: 30px;
    top: 60%;
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 70px;
    }
}

.msg_container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url('../images/starheadwoman.jpg') no-repeat center center;
    background-size: cover;
    font-size: 35px;
}

.msg_container > a {
    text-decoration: none;
}


#welcome_msg_1 {
    animation: fadeOut 16s infinite ease-in-out;
}

#welcome_msg_2 {
    animation: fadeInOut1 16s infinite ease-in-out;
}

#welcome_msg_3 {
    animation: fadeInOut2 16s infinite ease-in-out;
}

@keyframes fadeOut {
    0% {
        color: #3773eb00;
    }
    25% {
        color: #3773eb;
    }
    50% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut1{
    0%,25% {
        color: #3773eb00;
    }
    50% {
        color: #3773eb;
    }
    75% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut2{
    0%,25%,50% {
        color: #3773eb00;
    }
    75% {
        color: #3773eb;
    }
    100% {
        color: #3773eb00;
    }
}
/*NAV BAR AND HEADER****************/
h1 {
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    font-size: 20px;
    font-family: raleway, sans-serif;
    width: 100%;
    height: 30px;
    padding: 16px 0 16px 0;
    border: solid #ececec;
    border-width: 0 0 3px 0;
    border-radius:  0 0 4px 4px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #4f71e9;
}

button {
    background: grey url(../images/braziltumbnail20x40.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
    height: 23px;
    width: 35px;
    border: solid black 1px;
    border-radius: 3px;
    float: right;
    position: absolute;
    right: 30px;
    top: 19.25px;
}

.header_and_nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.logo {
    margin: auto 16px;
    position: relative;
    bottom: 23%;
    vertical-align: middle;
    float: left;
    width: 65px;
    height: 44px;
   
}

.accessibility_icon {
    width: 29px;
    height: 29px;
    position: absolute;
    right: 60px;
    margin: 0 11px 7px 0;
}

nav > ul {
    padding: 0;
    text-align: center;
    margin: 0;
    float: right;
    position: relative;
    right: 130px;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    font-family: raleway, sans-serif;
    font-weight: 900;
    border: solid #ececec;
    border-width: 0 0 3px 0;
    border-radius: 10%;
    transition: 0.3s ease-out;
    color: #ececec;
}

li:hover {
   border-color: rgb(105, 103, 103);
}

nav > ul > li > a:hover {
    color: rgb(105, 103, 103);
}

li > a, nav > a, h1 > a, #message_container > a {
    color: #ececec;;
    text-decoration: none;
}

h1 > a {
    display: inline-block;
    float: left;
    margin: auto 20px auto 50px;
    vertical-align: middle;
    font-size: 25px;
}

/***TESTIMONIALS*************/
.testimonial_section {
    margin-top: 100px;
}

.testimonial_pair {
    text-align: left;
}

.testimonial {
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 20px 0;
    margin: 30px 10px 30px 10px;
    text-align: center;
}

.banner_center {
    padding: 25px;
    width: 400px;
    display: inline-block;
    border-radius: 50%;
}

.commenter {
    font-size: 15px;
    font-style: italic;
}

p > span {
    font-size: 25px;
}

.testimonial_section > div {
    justify-content: center;
}

/***ABOUT SECTION************/
.about_section {
    background-color: #4e73ea;
    margin-top: -7%;
    padding: 12% 17% 13% 17%;
}

.blender {
    background-image: linear-gradient(#4e73ea , #4e72ea00);
    width: 100%;
    height: 100px;
    position: relative;
    top: 10px;
}

.about_section > div > .testimonial {
    text-align: justify;
    margin: 50px 0 0 0;
    width: 571px; min-width: 571px;
    height: 220px;
    border-left: black solid 3px;
    padding: 0 0 0 20px;
}

/***CONTACT SECTION**********/
form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

legend, label {
    color: #ececec;
    font-size: 25px; 
}

fieldset {
    width: 490px;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.473);
}

textarea {
    height: 130px;
}

input, textarea {
    margin-bottom: 10px;
    background-color: rgba(2, 2, 2, 0.514);
}

.button_submit {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: #ececec;
    background-color: #3773eb;
    transition: all 0.5s;
}

.button_submit:hover {
    background-color: #808ba1;
}

.text_input {
    width: 96.5%;
    color: #ececec;
}

.contact_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -100px;
    padding: 7% 17% 17% 17%;
    background: #4e73ea no-repeat center center url("../images/canvasblugradient.png");
    background-size: cover;
    border: #4e73ea solid;
    border-width: 10px 0 0 0;
}

input[type="email"] {
    height: 25px;
}
/*****FOOTER*****************/
footer {
    height: 100%;
}

.footer_section {
    text-align: center;
    width: 100%;
    background-color: #4f71e9;
    border: solid #ececec;
    border-width: 3px 0 0 0;
}

footer > ul {
    height: 99%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;
}

footer > ul > li {
    margin: 0 10% 0 10%;
    list-style: none;
}

footer > ul > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > ul > li:hover {
    position: relative;
    bottom: 3px;
    left: 3px;
}

/**********TOOLTIPS**************/

.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 12px;
    bottom: 3rem;
    right: -3rem;
    padding: 3px;
    border: #ececec solid 2px;
    border-radius: 10px;
    background-color: #3773eb;
}

.langtip {
    bottom: 1rem;
    right: 1px;
    margin: 0;
    padding: 3px;
}

footer > ul > li:hover .tooltip {
    visibility: visible;
}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 1128px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-width: 1046px) {
    fieldset {
        width: 280px;
    }
    .section_main_content {
        flex-direction: column;
        margin: 0 20px 0 20px;
    }
    .testimonial_section {
        margin-bottom: 100px;
    }
    .contact_section {
        padding: 62px 62px;
    }
    .about_section > div > .testimonial {
         width: 80%; min-width: 0;
         height: 100%; min-height: 0;
         position: relative;
         top: -110px;
    }
    .about_section {
        margin: 0 0 -6 0;
        padding: 62px 0px 0px 0px;
    }
    .banner_left {
        width: 617px;
        height: 115px;
        top: -140px;
    }
    .contact_section > .section_main_content > .banner_left {
        top: 0;
        width: 90%;
    }
    .about_section > h2 {
        margin-bottom: -30px;
    }
}
@media only screen and (max-width: 986px) {
    .welcome_msg {
        font-size: 25px;
    }
}

@media only screen and (max-width: 890px) {
    .banner_center {
        padding: 4em 0 4em 0;
        height: 280px;
        width: 300px;
        display: inline-block;
    }
    .testimonial_pair {
        text-align: center;
    }
    .positive_attribute {
        text-align: center;
    }
}

@media only screen and (max-width: 660px) {
    nav {
        text-align: center;
    }
    .down_arrow {
        display: none;
    }
    .welcome_msg {
        font-size: 17px;
    }
    .msg_container {
        height: 40%;
    }
    .down_arrow {
        top: -80%;
    }
    a > img {
        width: 49px;
    }
    #about_section > div > .testimonial {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    li {
        font-size: 15px;
    }
    button {
        right: 8px;
        height: 21px;
        width: 30px;
    }
    nav {
        font-size: 20px;
    }
    ul {
        right: 120px;
    }
    .logo {
        left: -10px;
        bottom: 18.5%;
        width: 60px;
    }
    .accessibility_icon {
        right: 30px;
        height: 24px;
        width: 24px;
        top: 18px;
    }
    nav > ul {
        right: 90px;
        bottom: 2.5px;
    }
}

@media only screen and (max-width: 380px) {
    ul {
        right: 105px;
    }
    .welcome_msg {
        font-size: 16px;
    }
}


@media only screen and (max-width: 360px) {
    ul {
        right: 93px;
    }
    .logo {
        width: 50px;
        height: 38px;
        bottom: 10%;
    }
    .welcome_message {
        top: 100%;
    }
    nav > ul {
        right: 72px;
    }
}  

@media (max-height: 810px) and (orientation: landscape){
    .down_arrow {
        top: 55%;
    }    
}

@media (max-height: 706px) and (orientation: landscape){
    .down_arrow {
        top: 40%;
    }    
}

@media (max-height: 465px) and (orientation: landscape){
    .down_arrow {
        top: 17%;
    }
}

@media(max-height: 395px)  and (orientation: landscape){
    .down_arrow {
        top: 10%;
    }    
}

@media(max-height: 360px)  and (orientation: landscape){
    .down_arrow {
        top: 5%;
    }    
}

@media(max-width: 1080px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 27px;
    }  
}

@media(max-width: 812px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 25px;
    }  
}

@media(max-width: 667px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 21px;
    }  
}