@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Karla&family=Raleway&family=Roboto:wght@300&display=swap');

html {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}

body {
    position: relative;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    font-family: raleway, sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    display: none;
}

a {
    color: #ececec;;
    text-decoration: none;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    font-size: 20px;
    font-family: raleway, sans-serif;
    width: 100%;
    height: 70px;
    padding: 16px 0 16px 0;
    border: solid #ececec;
    border-width: 0 0 3px 0;
    border-radius:  0 0 4px 4px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #4f71e9;
}

main {
    padding-top: 60px;
    margin-top: -60px;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

label {
    color: #ececec;
    font-size: 25px; 
}

fieldset {
    width: 490px;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.473);
}

textarea {
    height: 130px;
}

footer {
    height: 100%;
}

.section_main_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_attributes {
    position: absolute;
    top: 0;
    visibility: hidden;
}

/*WELCOME MESSAGE AND HERO IMAGE****************/
.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: raleway, sans-serif;
    font-size: 40px;
    height: 50px;
    width: 45%;
    color: #3773eb00;
    position: relative;
    top: 20%;
    margin-left: 15px;
}

.down_arrow {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    padding-left: 30px;
    top: 60%;
    animation: bounce 2s infinite linear;
}

.chevron {
    color:#4e73ea;
}

@keyframes bounce {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 70px;
    }
}

.msg_container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url('../images/starheadwoman.jpg') no-repeat center center;
    background-size: cover;
    font-size: 35px;
}

.msg_container > a {
    text-decoration: none;
}


.top_welcome_msg {
    animation: top_welcome_msg_fade_out 16s infinite ease-in-out;
}

.middle_welcome_msg {
    animation: middle_welcome_msg_fade_In_Out 16s infinite ease-in-out;
}

.bottom_welcome_msg {
    animation: bottom_welcome_msg_fade_In_Out 16s infinite ease-in-out;
}

@keyframes top_welcome_msg_fade_out {
    0% {
        color: #3773eb00;
    }
    25% {
        color: #3773eb;
    }
    50% {
        color: #3773eb00;
    }
}

@keyframes middle_welcome_msg_fade_In_Out{
    0%,25% {
        color: #3773eb00;
    }
    50% {
        color: #3773eb;
    }
    75% {
        color: #3773eb00;
    }
}

@keyframes bottom_welcome_msg_fade_In_Out{
    0%,25%,50% {
        color: #3773eb00;
    }
    75% {
        color: #3773eb;
    }
    100% {
        color: #3773eb00;
    }
}
/*NAV BAR AND HEADER****************/
.language_button {
    background: grey url(../images/braziltumbnail20x40.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
    height: 23px;
    width: 35px;
    border: solid black 1px;
    border-radius: 3px;
    float: right;
    position: fixed;
    right: 30px;
    top: 19.25px;
}

.hamburger_button {
    float: left;
    position: relative;
    display: none;
    border: #4f71e9 solid 1px;
    left: 20px;
    top: 12px;
    background-color: #4f71e9;
}

.hamburger {
    color: #ececec;
}

.menu {
    width: 0px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: -3px;
    top: 101.25px;
    color:#4e73ea;
    background-color: #4e73ea;
   
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.hamburger_visible.menu {
    width: 150px;
}

.header_and_nav {
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.logo {
    margin: auto 16px;
    position: relative;
    left: 57px;
    top: 18%;
    float: left;
    width: 55px;
    height: 40px;
   
}

nav > ul {
    padding: 0;
    text-align: center;
    margin: 0;
    float: right;
    position: relative;
    right: 85px;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    font-family: raleway, sans-serif;
    font-weight: 900;
    border: solid #ececec;
    border-width: 0 0 3px 0;
    border-radius: 10%;
    transition: 0.3s ease-out;
    color: #ececec;
}

.burger_list_item {
    padding: 0 0 0 60px;
}

li:hover {
   border-color: rgb(105, 103, 103);
}

.nav_links:hover {
    color: rgb(105, 103, 103);
}

.h1_anchor {
    float: left;
    margin: auto 20px auto 50px;
    vertical-align: middle;
    font-size: 25px;
}
/* https://css-tricks.com/set-text-on-a-circle/ */
.letter_container {
    font: 10px Monaco, MonoSpace;
    font-weight: 900;
    height: 45px;
    width: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 90px;
    top: 5px;
    transform-origin: bottom center;
}

.char_bottom {
    transform: scale(-1,-1);
}
/* TOP ARCH */
.char1 {
    transform: rotate(-70.527deg);
  }
.char2 {
    transform: rotate(-61.054deg);
}
.char3 {
    transform: rotate(-51.581deg);
}
.char4 {
    transform: rotate(-42.108deg);
}
.char5 {
    transform: rotate(-32.635deg);
}
.char6 {
    transform: rotate(-23.162deg);
}
.char7 {
    transform: rotate(-13.689deg);
}
.char8 {
    transform: rotate(-4.216deg);
}
.char9 {
    transform: rotate(5.257deg);
}
.char10 {
    transform: rotate(14.73deg);
}
.char11 {
    transform: rotate(24.203deg);
}
.char12 {
    transform: rotate(33.676deg);
}
.char13 {
    transform: rotate(43.149deg);
}
.char14 {
    transform: rotate(52.622deg);
}
.char15 {
    transform: rotate(62.095deg);
}
.char16 {
    transform: rotate(71.568deg);
}
.char17 {
    transform: rotate(81.041deg);
}
/* BOTTOM ARCH */
.char18 {
    transform: rotate(-80deg);
}
.char19 {
    transform: rotate(-89.473deg);
}
.char20 {
    transform: rotate(-98.946deg);
}
.char21 {
    transform: rotate(-108.419deg);
}
.char22 {
    transform: rotate(-117.892deg);
}
.char23 {
    transform: rotate(-127.365deg);
}
.char24 {
    transform: rotate(-136.838deg);
}
.char25 {
    transform: rotate(-146.311deg);
}
.char26 {
    transform: rotate(-155.784deg);
}
.char27 {
    transform: rotate(-165.257deg);
}
.char28 {
    transform: rotate(-174.73deg);
}
.char29 {
    transform: rotate(-184.203deg);
}
.char30 {
    transform: rotate(-193.676deg);
}
.char31 {
    transform: rotate(-203.149deg);
}
.char32 {
    transform: rotate(-212.622deg);
}
.char33 {
    transform: rotate(-222.095deg);
}
.char34 {
    transform: rotate(-231.568deg);
}
.char35 {
    transform: rotate(-241.041deg);
}
.char36 {
    transform: rotate(-250.514deg);
}
.char37 {
    transform: rotate(-259.987deg);
}
.char38 {
    transform: rotate(-269.46deg);
}

/*********************************************** */
/***TESTIMONIALS*************/
.testimonial_section {
    margin-top: 100px;
}

.testimonial_pair {
    text-align: left;
    max-width: 300px;
}

.site_text {
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 20px 0;
    text-align: center;
}

.banner_center {
    padding: 25px;
    width: 400px;
    display: inline-block;
    border-radius: 50%;
}

.commenter {
    font-size: 15px;
    font-style: italic;
}

.testimonials_main_content {
    justify-content: center;
}

/***ABOUT SECTION************/
.about_section {
    background-color: #4e73ea;
    margin-top: -7%;
    padding: 12% 17% 13% 17%;
}

.banner_left {
    height: 180px;
    width: 400px;
    position: relative;
    top: 30px;
}

.blender {
    background-image: linear-gradient(#4e73ea , #4e72ea00);
    width: 100%;
    height: 100px;
    position: relative;
    top: 10px;
}

.about_text {
    text-align: justify;
    margin: 50px 0 0 0;
    width: 571px; min-width: 571px;
    height: 220px;
    border-left: black solid 3px;
    padding: 0 0 0 20px;
}

/***CONTACT SECTION**********/

.button_submit {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    color: #ececec;
    background-color: #3773eb;
    transition: all 0.5s;
}

.button_submit:hover {
    background-color: #808ba1;
}

.text_input {
    width: 96.5%;
    color: #ececec;
    margin-bottom: 10px;
    background-color: black;
}

.contact_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -100px;
    padding: 7% 17% 17% 17%;
    background: #4e73ea no-repeat center center url("../images/canvasblugradient.png");
    background-size: cover;
    border: #4e73ea solid;
    border-width: 10px 0 0 0;
}

.contact_section_heading {
    margin: 0;
    padding: 0;
    color: #ececec;
    font-size: 25px;
}

.email_input {
    height: 25px;
}
/*****FOOTER*****************/
.footer_section {
    text-align: center;
    width: 100%;
    background-color: #4f71e9;
    border: solid #ececec;
    border-width: 3px 0 0 0;
}

footer > ul {
    height: 99%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px 0 5px 0;
    margin: 0;
}

footer > ul > li {
    margin: 0 10% 0 10%;
    list-style: none;
}

footer > ul > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > ul > li:hover {
    position: relative;
    bottom: 3px;
    left: 3px;
}

/**********TOOLTIPS**************/

.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 12px;
    bottom: 3rem;
    right: -3rem;
    padding: 3px;
    border: #ececec solid 2px;
    border-radius: 10px;
    background-color: #3773eb;
}

.langtip {
    bottom: 1rem;
    right: 1px;
    margin: 0;
    padding: 3px;
}

footer > ul > li:hover .tooltip {
    visibility: visible;
}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 1596px) {
    .about_section {
        margin-top: -4%;
    }
}

@media only screen and (min-width: 2836px) {
    .about_section {
        margin-top: -2%;
    }
}

@media only screen and (max-width: 1046px) {
    fieldset {
        width: 280px;
    }
    .header_and_nav {
        top: 0px;
    }
    .section_main_content {
        flex-direction: column;
        margin: 0 20px 0 20px;
    }
    .testimonial_section {
        margin-bottom: 100px;
    }
    .contact_section {
        padding: 62px 62px;
    }
    .about_text {
         width: 80%; min-width: 0;
         height: 100%; min-height: 0;
         position: relative;
         top: -110px;
    }
    .about_section {
        margin: 0 0 -6px 0;
        padding: 62px 0px 0px 0px;
    }
    .banner_left {
        width: 617px;
        height: 115px;
        top: -140px;
    }
    .about_h2 {
        margin-bottom: -30px;
    }
    footer > ul > li:hover .tooltip {
        visibility: hidden;
    }
    
    button:hover .tooltip {
        visibility: hidden;
    }
}
@media only screen and (max-width: 986px) {
    .welcome_msg {
        font-size: 25px;
    }
    .hamburger_button {
        display: inline-block;
    }
    .nav_bar_menu {
        display: none;
    }
    .logo {
        left: 24px;
    }
}

@media only screen and (max-width: 890px) {
    .banner_center {
        padding: 4em 0 4em 0;
        height: 280px;
        width: 300px;
        display: inline-block;
    }
    .testimonial_pair {
        text-align: center;
    }
    .positive_attribute {
        text-align: center;
    }
}

@media only screen and (max-width: 660px) {
    nav {
        text-align: center;
    }
    .down_arrow {
        display: none;
    }
    .welcome_msg {
        font-size: 17px;
    }
    .msg_container {
        height: 40%;
    }
    .about_text {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    button {
        right: 8px;
    }
    nav > ul {
        display: flex;
        flex-direction: column;
        right: 60px;
        bottom: 10px;
    }
    nav > ul > li {
        padding-bottom: 5px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 380px) {
    .welcome_msg {
        font-size: 16px;
    }
}


@media only screen and (max-width: 360px) {
    .welcome_message {
        top: 100%;
    }
}  

@media (max-height: 810px) and (orientation: landscape){
    .down_arrow {
        top: 55%;
    }    
}

@media (max-height: 706px) and (orientation: landscape){
    .down_arrow {
        top: 40%;
    }    
}

@media (max-height: 465px) and (orientation: landscape){
    .down_arrow {
        top: 17%;
    }
}

@media(max-height: 395px)  and (orientation: landscape){
    .down_arrow {
        top: 7%;
    }    
}

@media(max-height: 360px)  and (orientation: landscape){
    .down_arrow {
        top: 2%;
    }    
}

@media(max-width: 1080px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 24px;
    }  
}

@media(max-width: 812px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 21px;
    }  
}

@media(max-width: 667px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 17px;
    }  
}