@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap");

body, html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    padding-top: 200px;
    margin-top: -150px;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline;
    font-size: 25px;
    font-weight: 900;
    color: #9338ff;
}

header {
    width: 100%;
    text-align: center;
}  

nav {
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 30px;
    padding: 16px;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius:  0 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #acaeca;
}

ul {
    padding: 0;
    text-align: center;
    margin: 0;
    float: right;
    position: relative;
    right: 130px;
    bottom: 5px;
}

li {
    list-style: none;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: 900;
    border: solid rgb(0, 0, 0);
    border-width: 0 0 2px 0;
    border-radius: 10%;
    transition: 0.3s ease-out;
    color: rgb(0, 0, 0);
}

li:hover {
   border-color: rgb(105, 103, 103);
}

li > a {
    color: black;
}

li > a:hover {
    color: rgb(105, 103, 103);
}

a {
    color: black;
    text-decoration: none;
}

button {
    float: right;
}

footer {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    background: no-repeat center center url("../images/canvas.jpg");
    background-size: cover;
    -webkit-mask-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

.testimonial_pair {
    text-align: left;
}

.testimonial {
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 280px;
}

.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    height: 50px;
    width: 45%;
    color: #3773eb00;
    position: relative;
    top: 20%;
    margin-left: 15px;
}

.down_arrow {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    padding-left: 30px;
    top: 60%;
    animation: bounce 2s infinite linear;
}

@keyframes bounce {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 70px;
    }
}

.logo {
    margin: auto 0;
    position: relative;
    bottom: 23%;
    left: 2%;
    vertical-align: middle;
    float: left;
    width: 80px;
   
}

.about {
    margin: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

p > span {
    font-size: 15px;
    font-style: italic;
}

section > .testimonial {
    text-align: justify;
    width: 50%;
    padding-top: 20px;
    margin: 50px 20px 0 0;
}

#accessibility_icon {
    width: 29px;
    height: 29px;
    position: absolute;
    right: 60px;
    margin: 0 11px 7px 0;
}

#msg_container {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url('../images/starheadwoman.jpg') no-repeat center center;
    background-size: cover;
    font-size: 35px;
}

#welcome_msg_1 {
    animation: fadeOut 16s infinite ease-in-out;
}

#welcome_msg_2 {
    animation: fadeInOut1 16s infinite ease-in-out;
}

#welcome_msg_3 {
    animation: fadeInOut2 16s infinite ease-in-out;
}

@keyframes fadeOut {
    0% {
        color: #3773eb00;
    }
    25% {
        color: #3773eb;
    }
    50% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut1{
    0%,25% {
        color: #3773eb00;
    }
    50% {
        color: #3773eb;
    }
    75% {
        color: #3773eb00;
    }
}

@keyframes fadeInOut2{
    0%,25%,50% {
        color: #3773eb00;
    }
    75% {
        color: #3773eb;
    }
    100% {
        color: #3773eb00;
    }
}

#language_button {
    background: grey url(../images/braziltumbnail20x40.png) no-repeat center center;
    background-size: contain;
    opacity: 1;
    height: 24px;
    width: 35px;
    border: solid black 1px;
    position: absolute;
    right: 30px;
    bottom: 37%;
}

#language_button:hover {
    opacity: 0.5;
}

#header_and_nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}

#testimonials {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  
h1 > a {
    display: inline-block;
    float: left;
    margin: auto 20px auto 50px;
    vertical-align: middle;
    font-size: 25px;
}

#banner_left {
    -webkit-mask-image: -webkit-linear-gradient(
      right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
    width: 35%;
    min-height: 120px;
    max-height: 210px;
    min-width: 300px;
    margin: 50px 40px 0 20px;
}

#banner_center {
    padding: 25px;
    height: 280px;
    width: 300px;
    display: inline-block;
}

div > img {
    width: 100%;
}

@media only screen and (max-width: 1296px) {
    .about {
        flex-direction: column;
    }
    section > .testimonial {
        width: 70%;
    }
}
@media only screen and (max-width: 1128px) {
    h1 {
        display: none;
    }
}
@media only screen and (max-width: 986px) {
    
    .welcome_msg {
        font-size: 25px;
    }
}

@media only screen and (max-width: 890px) {
    #testimonials {
        display: inline-block;
    }
    #banner_center {
        padding: 4em 0 4em 0;
        height: 280px;
        width: 300px;
        display: inline-block;
    }
    .testimonial_pair {
        text-align: center;
    }
    .positive_attribute {
        text-align: center;
    }
}

@media only screen and (max-width: 660px) {
    nav {
        text-align: center;
    }
    .welcome_msg {
        font-size: 17px;
    }
    #msg_container {
        height: 40%;
    }
    .down_arrow {
        top: -80%;
    }
    a > img {
        width: 49px;
    }
    .down_arrow {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    li {
        font-size: 15px;
    }
    .logo {
        left: -10px;
        bottom: 5%;
        width: 60px;
    }
    #language_button {
        right: 8px;
        height: 21px;
        width: 30px;
    }
    #accessibility_icon {
        right: 30px;
        height: 24px;
        width: 24px;
        top: 19px;
    }
    ul {
        right: 120px;
    }
}

@media only screen and (max-width: 380px) {
    .welcome_msg {
        font-size: 16px;
    }
    ul {
        right: 105px;
    }
}


@media only screen and (max-width: 360px) {
    .welcome_message {
        top: 100%;
    }
    ul {
        right: 93px;
    }
}  

@media (max-height: 810px) and (orientation: landscape){
    
    .down_arrow {
        top: 55%;
    }    
}

@media (max-height: 706px) and (orientation: landscape){
    
    .down_arrow {
        top: 40%;
    }    
}

@media (max-height: 465px) and (orientation: landscape){
    .down_arrow {
        top: 17%;
    }
}

@media(max-height: 395px)  and (orientation: landscape){
    .down_arrow {
        top: 10%;
    }    
}

@media(max-height: 360px)  and (orientation: landscape){
    .down_arrow {
        top: 5%;
    }    
}

@media(max-width: 1080px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 27px;
    }  
}

@media(max-width: 812px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 25px;
    }  
}

@media(max-width: 667px)  and (orientation: landscape){
    .welcome_msg {
        font-size: 21px;
    }  
}