@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Roboto:wght@300&display=swap");

body, html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    position: fixed;
    top: 0;
    z-index: 100;
    font-size: 25px;
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 30px;
    padding: 16px 0 16px 0;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius:  0 0 5px 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #acaeca;
}

h2{
    text-align: center;
    margin-top: 3em;
    text-decoration: underline;
}

h3 {
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline;
    font-size: 25px;
    font-weight: 900;
    color: #9338ff;
}

header {
    width: 100%;
    text-align: center;
}  

nav {
    width: 100%;
    text-align: left;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    width: 65px;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: 900;
    border: solid rgba(0, 0, 0, 0);
    border-width: 2px;
    border-radius: 15% 50% 50% 50%;
    transition: 0.3s ease-out;
}

a {
    color: black;
    text-decoration: none;
}

button {
    float: right;
}

footer {
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    background: no-repeat center center url("../images/canvas.jpg");
    background-size: cover;
    -webkit-mask-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

li:hover {
    border-color: black;
    background-color: #acaeca;
}

.attribute_pair {
    text-align: left;
}

.attribute_icons {
    display: inline;
    width: 25px;
    position: relative;
    top: 3px;

}

.positive_attribute {
    font-size: 20px;
    font-weight: 900;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: justify;
}

.language_button {
    position: absolute;
    right: 60px;
    bottom: 30%;
}

.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_video {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 100%;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius:  0 0 5px 0;
    z-index: 0;
}

@keyframes pan_and_zoom {
    0% {
        background-position: 60% 50%;
    }
    100% {
        background-position: 50% 50%;  
    }
}

#accessibility_icon {
    width: 17px;
    height: 17px;
    position: absolute;
    right: 80px;
    top: 19px;
    margin: 0 11px 7px 0;
}

#msg_container {
    height: 100%;
    width: 100%;
    font-size: 50px;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.6);
}

#welcome_msg_1 {
    color: #eec28900;
    height: 100%;
    width: 100%;
    animation: fadeOut 2s 1 ease-out;
    position: relative;
    top: -100%;
}

#welcome_msg_2 {
    color: #eec28900;
    background-color: rgba(0, 0, 0, 0);
    height: 13.26em;
    width: 100%;
    position: relative;
    top: -185%;
    animation: fadeIn 4s 2s 1 ease-in-out;
    z-index: 100;
}
#brazil_button, #england_button {
    height: 17px;
    width: 24px;
    border: solid black 1px;
}

#brazil_button {
    background: grey url(../images/braziltumbnail20x40.png) no-repeat center center;
    background-size: contain;
    right: 30px;
    opacity: 1;
    margin: 0 0 7px 2px;
}

#brazil_button:hover {
    opacity: 0.5;
}

#england_button {
    background: grey url(../images/unionjackflag20x40.png) no-repeat center center;
    background-size: contain;
    opacity: 1;
    margin: 0 2px 7px 0;
}

#england_button:hover {
    opacity: 0.5;
}

#header_and_nav {
    position: sticky;
    top: 67px;
    width: 100%;
    z-index: 100;
}

#positive_attributes {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#h1_left {
    display: inline-block;
    margin: auto 0 auto 90px;
    float: left;
    vertical-align: middle;
}
  
#h1_right {
    display: inline-block;
    float: right;
    margin: auto 130px auto 20px;
    vertical-align: middle;
}

#nav_wrap {
    display: inline-block;
    text-align: left;
    border: solid black;
    border-width: 0 0 5px 0;
    border-radius: 0 0 45% 45%;
    width: 360px;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      #acaeca
    );
}

#banner_left {
    -webkit-mask-image: -webkit-linear-gradient(
      right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}
  
#banner_right {
    -webkit-mask-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
}

#banner_center {
    padding: 5em 3em 5em 3em;
    height: 280px;
    width: 300px;
    display: inline-block;
}

@keyframes fadeOut {
    0% {
        color: #eec389;
    }
    100% {
        color: #eec28900;
    }
}

@keyframes fadeIn {
    0% {
        color: #eec28900;
    }
    50% {
        color: #eec389;
    }
    100% {
        color: #eec28900;
    }
}


@media only screen and (max-width: 986px) {
    #msg_container {
        height: 40%;
    }
    #welcome_msg_2 {
        display: none;
    }
    
}

@media only screen and (max-width: 935px) {
    #h1_left, #h1_right {
        font-size: 20px;
    }
    #brazil_button, #england_button {
       margin-bottom: 9px;
    }
    #accessibility_icon {
        top: 17px;
    }
}

@media only screen and (max-width: 890px) {
    #positive_attributes {
        display: inline-block;
    }
    #banner_center {
        padding: 4em 0 4em 0;
        height: 280px;
        width: 300px;
        display: inline-block;
    }
    .attribute_pair {
        text-align: center;
    }
    .positive_attribute {
        text-align: center;
    }
    
}

@media only screen and (max-width: 700px) {
    #h1_left, #h1_right {
        display: block;
        float: left;
        text-align: left;
        margin: 0 100px 0 10px;
    }
}
@media only screen and (max-width: 660px) {
    #welcome_msg_1 {
        font-size: 25px;
    }

    nav {
        text-align: center;
    }
    #nav_wrap {
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    #h1_left, #h1_right {
        font-size: 15px;
    }
    #welcome_msg_1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 359px) {
    li {
        font-size: 15px;
        width: 55px;
    }
}